body {
    margin: 0;
    color: #C6D4DF;
    background-color: rgb(26, 42, 59);
    font-family: 'Motiva Sans', Sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: #171D25;
    height: 110px;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.right{
    float: right;
}

.align-items-center {
    align-items: center;
}

.align-self-flex-end {
    align-self: flex-end;
}

.flex-direction-column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.nav-link {
    font-size: 16px;
    padding: 45px 18px 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #C6D4DF;
    max-height: max-content;
}

.nav-link *:not(.active):hover {
    filter: brightness(175%);
}

.active {
    color: rgb(26, 159, 255);
    border-bottom: 3px solid #1a9fff;
    filter: none;
}

.user-data-card {
    background-color: #181a21;
    border-radius: 10px;
    margin-top: 150px;
    width: 600px;
}

.user-data-input {
    background-color: #393c44;
    border: none;
    color: white;
    font-size: 18px;
    width: 530px;
    height: 35px;
    border-radius: 1px;
    margin-top: 7px;
    padding-left: 8px;
}

.user-data-input:focus {
    outline: none;
}

.login-register-form {
    padding: 30px;
}

.user-data-btn {
    width: 200px;
    margin: 10px 0;
    background-color: #235cc0;
    border: none;
    border-radius: 5px;
    color: #C6D4DF;
    font-size: 16px;
    cursor: pointer;
    padding: 7px 13px;
}

.user-data-btn:hover {
    filter: brightness(125%);
}

.login-register-links {
    position: absolute;
    right: 0px
}

.login-register-link {
    text-decoration: none;
    color: #C6D4DF;
}

.add-game-btn {
    background-color: #235cc0;
    border: none;
    border-radius: 5px;
    color: #C6D4DF;
    font-size: 16px;
    cursor: pointer;
    padding: 7px 13px;
}

.add-game-btn:hover {
    filter: brightness(125%);
}

.cursor-pointer {
    cursor: pointer;
}