.search-container {
    margin-bottom: 7px;
}

.search-games {
    background-color: rgba(0, 0, 0, 0.4);
    height: 40px;
    min-width: 700px;
}

.input-search {
    height: 14px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #223a4c;
    color: white;
    margin: 0 10px 0 5px;
}

.input-search:focus {
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: #67C1F5;
    background-color: #223a4c;
    border: 0;
    height: 26px;
    width: 100px;
    border-radius: 2px;
    margin-right: 5px;
}

.btn-search:hover {
    filter: brightness(125%);
    color: white;
}

.catalog-column {
    margin: 100px 10px 0 0;
}

.catalog-filter {
    margin-top: 100px;
    width: 200px;
    flex-grow: 0;
}

.catalog-item {
    margin-bottom: 10px;
    min-width: 700px;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 50px;
    text-decoration: none;
    color: #C6D4DF;
}

.catalog-item:last-child {
    margin-bottom: 0;
}

.catalog-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.game-name-span {
    margin: 5px 0 0 7px;
    font-size: 14px;
}

.dropdown {
    margin-bottom: 5px;
}

.dropbtn {
    background-color: #323E4C;
    padding: 4px 4px 4px 6px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    border: 1px solid #323E4C;
    z-index: 1;
}

.dropdown-content button {
    width: 97%;
    background-color: rgb(26, 42, 59);
    border: 0;
    color: #C6D4DF;
    padding: 12px 16px;
    margin: 3px;
    text-decoration: none;
}

.dropdown-content button:hover {
    background-color: #323E4C;
}

.dropbtn:after {
    content: '';
    float: right;
    margin-left: 5px;
}

.button-filter {
    align-items: center;
    gap: 5px;
}